.slick-slide{
	height: auto;
}

* {
	transition: all .5s;
}

//Title blue
.blue-text {
  color: $blueone;
}

// First section -- Intro

#one .title {
	margin-top: 35vh;

}

#logo-square {
	fill: white;
	transition: all 1s;
}
#logo-shade {
	fill: none;
}
#logo-corner, #logo-word {
	fill: $blacktwo;
}


.intro-list {
	margin: 1.5em 0;
  padding-left: 1.5em;
	padding-right: 2em;
	:before {
		font-family: "FontAwesome";
		content: "\f00d";
		padding-right: .5em;
		font-size: .75em;
		color: red;
	}
	li {
		text-indent: -1em;
	}

}


// Logo carousel

.logo-row {
  display: flex;
	padding: 0;
	margin-bottom: 0;
  li {
		opacity: 0;
    width: 22.5%;
    margin-right: 2.5%;
		margin-bottom: 0;
    img {
      width: 100%;
    }
  }
}

a{
	color: #4717F6;
	text-decoration: underline;
}

ul li{
	list-style: none;
	margin: .5em 0;
}

header img{
	margin: 3em 0 0 8em;
	width: 15em;
}




#three {
  h3 {
//	text-transform: uppercase;
  }
  .draw {
    position: absolute;
  top: 0;
  left: -.20em;
  border-left: solid #4717F6 4px;
  background-color: transparent;
  -webkit-transition: height 2s;
  transition: height 2s;
  width: 4px;
  height: 0;
  }
}
