@font-face {
    font-family: "gteesti";
    src: url('fonts/GT/GT-Eesti-Display-Light.ttf'),
		url('fonts/GT/GT-Eesti-Display-Light.eot'),
		url('fonts/GT/GT-Eesti-Display-Light.woff');
}

@font-face {
    font-family: "gteesti2";
    src: url('fonts/GT/GT-Eesti-Display-Light-2.ttf'),
		url('fonts/GT/GT-Eesti-Display-Light-2.eot'),
		url('fonts/GT/GT-Eesti-Display-Light-2.woff');
}

@font-face {
    font-family: "gteestitextbook";
    src: url('fonts/GT/GT-Eesti-Text-Book.ttf'),
		url('fonts/GT/GT-Eesti-Text-Book.eot'),
		url('fonts/GT/GT-Eesti-Text-Book.woff');
}

@font-face {
    font-family: "gteestitextbook2";
    src: url('fonts/GT/GT-Eesti-Text-Book-2.ttf'),
		url('fonts/GT/GT-Eesti-Text-Book-2.eot'),
		url('fonts/GT/GT-Eesti-Text-Book-2.woff');
}


p, a, li, blockquote {
	font-family: "gteesti";
  color: $blackone;
}

h1, h2, h3, h4, h5, h6, b {
  font-family: "gteestitextbook";
  line-height: 1.25;
}

h2 {
    font-size: 2.75rem;
}

h3 {
  font-size: 1.75rem;
}

p, li, a {
  font-size: 1.25rem;
}

p, li, a {
  line-height: 1.25;
  letter-spacing: .03rem;
}
